.HeaderCTA {
  padding: 40px 0 20px 0;
  height: auto;
  & > img {
    width: 0px;
    height: auto;
    z-index: 1;
  }
  .TextCTA {
    margin: 20px;
    width: auto;
    color: black;
    & h1 {
      font-weight: bold;
    }
    & p {
      font-size: 24px;
    }
    & button {
      border: none;
      background-color: #839672;
      color: white;
      padding: 10px 60px;
      border-radius: 10px;
      margin-top: 12px;
    }
  }
}

.LandingPartTwo {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  height: auto;
  & button {
    border: none;
    background-color: #839672;
    color: white;
    padding: 10px 10px;
    border-radius: 10px;
    margin-top: 23px;
  }
}
.FirstAmoeba {
  margin-top: 30px;
  width: 300px;
  height: 300px;
  position: relative;
}
.macbookNudo {
  position: absolute;
  top: 5%;
  background-image: url(https://res.cloudinary.com/difhe4gl3/image/upload/v1604490108/NUDO/assets/Landing%20Page/macbook-nudo-main_nylgyg.png);
  background-repeat: no-repeat;
  width: 300px;
  height: 200px;
  background-size: cover;
}
.LandingPartTwoText {
  margin: -10px 20px;
  width: auto;
}

.LandingPartThree {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  margin: 20px;
  .SecondAmoeba {
    position: relative;
    margin-top: 60px;
    width: 300px;
    height: 300px;
  }
  .oldRadio {
    background-image: url(https://res.cloudinary.com/difhe4gl3/image/upload/v1604503759/NUDO/assets/Landing%20Page/RAdioFinal_xzqtp2.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 12%;
    left: 8%;
    width: 280px;
    height: 200px;
    background-size: cover;
  }
  .LandingPartThreeText {
    margin: 30px 20px;
    width: auto;
  }
  & button {
    border: none;
    background-color: #839672;
    color: white;
    padding: 10px 10px;
    border-radius: 10px;
    margin-top: 23px;
  }
}
.LandingPartFour {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  margin: 0px 20px 0px 20px;
  .ThirdAmoeba {
    margin-top: 60px;
    width: 300px;
    height: 300px;
    position: relative;
  }
  .oldLomo {
    background-image: url(https://res.cloudinary.com/difhe4gl3/image/upload/v1604504772/NUDO/assets/Landing%20Page/cosina_kn3b98.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 7%;
    width: 250px;
    height: 205px;
    background-size: cover;
  }
  .LandingPartFourText {
    margin: -40px 20px 80px 20px;
    width: auto;
  }
  & button {
    border: none;
    background-color: #839672;
    color: white;
    padding: 10px 10px;
    border-radius: 10px;
    margin-top: 23px;
  }
}

.react-rotating-text-cursor {
  animation: blinking-cursor 0.8s cubic-bezier(0.68, 0.01, 0.01, 0.99) 0s
    infinite;
}

@keyframes blinking-cursor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media (min-width: 700px) {
  .HeaderCTA {
    padding: 0px 0 20px 0;
    position: relative;
    height: auto;
    & > img {
      width: 100vw;
      height: auto;
      z-index: 1;
    }
    .TextCTA {
      position: absolute;
      width: 500px;
      color: white;
      top: 20%;
      left: 15%;
      & h1 {
        font-weight: bold;
      }
      & p {
        font-size: 26px;
      }
      & button {
        border: none;
        background-color: #839672;
        color: white;
        padding: 14px 60px;
        border-radius: 10px;
        margin-top: 23px;
      }
    }
  }

  .LandingPartTwo {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: auto;
    height: 300px;
    position: relative;
    margin-top: 200px;
    & button {
      border: none;
      background-color: #839672;
      color: white;
      padding: 14px 60px;
      border-radius: 10px;
      margin-top: 23px;
    }
  }

  .FirstAmoeba {
    width: 500px;
    height: 500px;
    position: relative;
  }
  .macbookNudo {
    background-image: url(https://res.cloudinary.com/difhe4gl3/image/upload/v1604490108/NUDO/assets/Landing%20Page/macbook-nudo-main_nylgyg.png);
    position: absolute;
    background-repeat: no-repeat;
    right: 10%;
    top: 0%;
    width: 600px;
    height: 450px;
    background-size: cover;
  }
  .LandingPartTwoText {
    margin: 0px 30px 45px 85px;
    width: 36%;
  }

  .LandingPartThree {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: auto;
    height: 600px;
    position: relative;
    margin: 0 0 0 0;
    .SecondAmoeba {
      width: 400px;
      height: 400px;
    }
    .oldRadio {
      background-image: url(https://res.cloudinary.com/difhe4gl3/image/upload/v1604503759/NUDO/assets/Landing%20Page/RAdioFinal_xzqtp2.png);
      position: absolute;
      background-repeat: no-repeat;
      left: 10%;
      top: 6%;
      width: 478px;
      height: 373px;
      background-size: cover;
    }
    .LandingPartThreeText {
      margin: 30px 30px 30px 85px;
      width: 36%;
    }
    & button {
      border: none;
      background-color: #839672;
      color: white;
      padding: 14px 60px;
      border-radius: 10px;
      margin-top: 23px;
    }
  }
  .LandingPartFour {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: auto;
    height: 450px;
    position: relative;
    margin: 0 0 0 -36px;
    .ThirdAmoeba {
      width: 553px;
      height: 400px;
      margin-right: 0px;
    }
    .oldLomo {
      background-image: url(https://res.cloudinary.com/difhe4gl3/image/upload/v1604504772/NUDO/assets/Landing%20Page/cosina_kn3b98.png);
      position: absolute;
      background-repeat: no-repeat;
      right: 15%;
      top: 5%;
      width: 467px;
      height: 395px;
      background-size: cover;
    }
    .LandingPartFourText {
      margin: 30px 30px 30px 85px;
      width: 36%;
    }
    & button {
      border: none;
      background-color: #839672;
      color: white;
      padding: 14px 60px;
      border-radius: 10px;
      margin-top: 23px;
    }
  }

  .react-rotating-text-cursor {
    animation: blinking-cursor 0.8s cubic-bezier(0.68, 0.01, 0.01, 0.99) 0s
      infinite;
  }

  @keyframes blinking-cursor {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}
