.ButtonAddSong {
    margin-bottom: 2px;
    font-size: 10px;
    color: white;
    background-color: #EF7E93;
    border-radius: 8px;
    padding: 5px 2px;
    
    &:hover {
        cursor: pointer;
    }
}