.ButtonAddSong {
    margin-top: -5px;
    margin-bottom: 2px;
    font-size: 12px;
    color: white;
    background-color:  #839672;
    border-radius: 10px;
    width: 35px;
    padding: 5px 2px;
    text-align: center;
    
    &:hover {
        cursor: pointer;
    }
}