.ButtonAddSong {
    margin-top: -5px;
    margin-bottom: 2px;
    font-size: 12px;
    color: black;
    border-radius: 10px;
    width: 35px;
    padding: 5px 2px;
    text-align: center;

    &:hover {
        cursor: pointer;
        font-weight: bold;
    }
}

.fiftiesBtn {
    border: 2px solid rgb(253, 16, 59);

    &:hover {
        background-color: rgba(253, 16, 59, 0.5);
    }
}

.sixtiesBtn {
    border: 2px solid rgb(248, 60, 95);
    &:hover {
        background-color: rgba(248, 60, 95, 0.5);
    }
}

.seventiesBtn {
    border: 2px solid rgb(243, 103, 129);
    &:hover {
        background-color: rgba(243, 103, 129, 0.5);
    }
}

.eightiesBtn {
    border: 2px solid rgb(245, 152, 169);
    &:hover {
        background-color:  rgba(245, 152, 169, 0.5);
    }
}

.ninetiesBtn {
    border: 2px solid rgb(245, 209, 215);
    &:hover {
        background-color: rgb(245, 209, 215);
    }
}
