.SongFavFilter {
    display: flex;
    margin: 0 0 0px 0;

    .filterButton {
        padding: 5px 10px;
        border-radius: 5px;
        margin: 3px;
        color: white;
        font-size: 12px;
    
        &:hover {
            cursor: pointer;
        }
    }
}

.allBtn{
    background-color: #EF7E93
}
.fiftiesBtn {
    background-color: yellow;
}
.sixtiesBtn {
    background-color: green;
}
.seventiesBtn {
    background-color: red;
}
.eightiesBtn {
    background-color: purple;
}
.ninetiesBtn {
    background-color: black;
}
.currentBtn {
    background-color: blue;
}

.selectedDecadeBtn {
    color: black !important;
    font-size: 18px !important;
}
