.songSearcher {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 12px;
}

@media (min-width: 700px) { 
    .songSearcher {
        padding: 26px;
    }
}