.SongFavFilter {
    display: flex;
    align-items: baseline;
    margin: 0 0 0px 0;

    .SongFavFilterHeader{
        margin-right: 20px
    }
    .selectMenu{
        width: 150px;
    }
    .filterButton {
        padding: 5px 10px;
        border-radius: 5px;
        margin: 3px;
        color: white;
        font-size: 12px;
    
        &:hover {
            cursor: pointer;
        }
    }
}
