.SongCard {
    background-color: #DBDBDB;
    border-radius: 5px;
    padding-left: 0px;
    padding: 5px;
    margin: 3px;
    box-shadow: 0px 0px 12px 0px rgba(85, 85, 85, 0.281);
    display: flex;
    justify-content: flex-start;
    width: 340px;
    position: relative;

    audio {
        filter: sepia(0%) saturate(10%) grayscale(0.3) contrast(99%) invert(10%);
        width: 100px;
        height: 25px;
    }

    .albumImage {
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }

    .songName {
        margin: 10px 0 0 0;
        font-size: 12px;
    }

    .songArtist {
        font-size: 10px;
        color: rgb(112, 109, 109);
        padding: 5px;
    }

    .songCardInfo {
        display: flex;
        padding-left: 8px;
        align-items: center;
        justify-content: center;
    }

    .songText {
        width: 120px;
    }

    .addButton {
        color: black;
        font-size: 42px;
        margin-top: -8px;
        margin-left: 12px;

        &:hover {
            cursor: pointer;
        }
    }

    .addSongForm {
        display: flex;

        &:hover {
            cursor: pointer;
        }
    }

    .absolute {
        position: absolute;
        right: 23px;
        top: 85px;
        background-color: white;
        width: 400px;
        border-radius: 10px 0 10px 10px;
        padding: 5px 10px;
        width: 275px;
        margin-left: 13px;
        margin-top: -50px;
        z-index: 10;
        display: flex;
        flex-direction: column;

        .absoluteBtn {
            display: flex;
            justify-content: space-around;
        }
    }

    .songsDeleteIcon {
        margin: 10px;
    }

    &:hover {
        cursor: pointer;
    }
}

.fifties {
    border-left: 4px solid rgb(253, 16, 59);
}

.sixties {
    border-left: 4px solid rgb(248, 60, 95);
}

.seventies {
    border-left: 4px solid rgb(243, 103, 129);
}

.eighties {
    border-left: 4px solid rgb(245, 152, 169);
}

.nineties {
    border-left: 4px solid rgb(243, 190, 199);
}

.current {
    border-left: 4px solid rgb(253, 253, 253);
}

@media (min-width: 700px) {
    .SongCard {
        background-color: #DBDBDB;
        border-radius: 5px;
        padding: 12px 0 0 5px;
        margin: 3px;
        box-shadow: 0px 0px 12px 0px rgba(85, 85, 85, 0.281);
        display: flex;
        justify-content: flex-start;
        width: 500px;

        audio {
            filter: sepia(0%) saturate(10%) grayscale(0.3) contrast(99%) invert(10%);
            width: 200px;
            height: 25px;
        }

        .albumImage {
            width: 60px;
            height: 60px;
            border-radius: 50%;
        }

        .songName {
            margin: 10px 0 0 0;
            font-size: 12px;
        }

        .songArtist {
            font-size: 10px;
            color: rgb(112, 109, 109);
            padding: 5px;
        }

        .songCardInfo {
            display: flex;
            padding-left: 8px;
            align-items: center;
            justify-content: center;
        }

        .songText {
            width: 150px;
        }

        .absolute {
            position: absolute;
            margin-left: 13px;
            margin-top: -50px;
            right: 53px;
            top: 92px;
        }

        .songsDeleteIcon {
            margin: 23px;
        }
    }
}