.songSearcher {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (min-width: 700px) {
    .songSearcher {
        padding: 26px;
    }

    .songHeader {
        height: 120px;
    }
}