.ModalPlayerContainer {
  position: relative;
  width: auto;
  height: fit-content;
  border-radius: 10px;
  margin: auto 0;
}


.ContainerVideoPlayer {
  position: relative;
}

.video-iframe {
  width: 640px;
  height: 380px;
}

.VideoPlayer {
  width: auto;
  margin: 0 auto;
  padding: 5px 5px;
  box-shadow: 3px 3px 11px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

@media (max-width: 700px) {
  .video-iframe {
    width: auto;
    height: auto;
  }
}