.containerGeneralGame {
  border-radius: 10px;
  box-shadow: 0px 1px 16px -2px rgba(0, 0, 0, 0.12);
  padding: 20px;
  margin-bottom: 250px;
}

.containerGame {
  max-width: 1055px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.ContainerLevelButtons {
  display: flex;
  justify-content: space-between;
}

#cardsGame {
  margin: 20px;
  max-width: 1080px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.cardGame {
  width: 160px;
  height: 160px;
  margin-bottom: 20px;
  margin-right: 20px;
}

/* .card:not(:nth-child(6n)) {
    margin-right: 20px;
} */

.c {
  position: absolute;
  max-width: 160px;
  max-height: 160px;
  width: 50ch;
  height: 50ch;
  cursor: pointer;
  will-change: transform, opacity;
  border: #000000 4px solid;
  border-radius: 10px;
  box-shadow: 11px 11px 19px -14px rgba(0, 0, 0, 0.75);
}

.front,
.back {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 140px;
}

.back {
  background-image: url(https://res.cloudinary.com/difhe4gl3/image/upload/v1602165257/NUDO/assets/nudo-card_eifulq.jpg);
}

.front {
  background-image: url(https://images.unsplash.com/photo-1540206395-68808572332f?ixlib=rb-1.2.1&w=1181&q=80&auto=format&fit=crop);
}