.ComponentHeaderStyleDrawer {
  padding: 25px 15px;
  display: flex;
  flex-direction: column !important;
  align-items: center !important;
  max-width: 230px;
}

.NudoIconStyleDrawer {
  width: 100px;
}
