.NudoHeader {
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.25);
  position: sticky;
  background-color: white;
  .NudoHeaderLeft {
    display: flex;
    flex-direction: row;
    align-items: center;

    .NudoHeaderSpan {
      margin: 19px 0 0 13px;
      &:hover {
          color:#839672;
      }
    }
  }

  .NudoHeaderIcon {
    width: 9em;
  }
  .NudoHeaderLogo {
    margin: 10px;
  }
}
