.NudoHeader {
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.25);
  position: sticky;
  background-color: white;
  margin-top: -91px;

  .NudoHeaderLeft {
    display: flex;
    flex-direction: row;
    align-items: center;

    .NudoHeaderSpan {
      margin: 19px 0 0 0px;

      &:hover {
        color: #839672;
      }
    }
  }

  .NudoHeaderIcon {
    width: 9em;
  }

  .NudoHeaderLogo {
    margin: 10px;
  }
}