.StatisticsGraphic {
    margin: 5px;
    border: 1px solid #839672;
    border-radius: 10px;
    width: 810px;
    height: 400px;
    display: flex;
    justify-content: center;
    .chart {
        padding-top: 20px;
        height: 300px;
        width: 600px;
    }
    .chartLine{
        padding-top: 20px;
        display: flex;
        justify-content: center;
    }
}