@import url(https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap);

$color: white;
$font: "Comfortaa", cursive;

.Dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Dashboard-card-container {
  max-width: 900px;
  font-family: $font;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
