@import url(https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap);

$color: white;
$font: "Comfortaa", cursive;

.Dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Dashboard-card-container {
  max-width: 83%;
  font-family: $font;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 30px;
}

.DashBoardHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
}
@media (min-width: 700px) {
  
}
