.FooterWaves {
  background-image: url(https://res.cloudinary.com/difhe4gl3/image/upload/v1604244208/NUDO/assets/Imagen_footer_NUDO_mxdrtj.svg);
  width: 100%;
  height: 450px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  .FooterIconNudo {
    width: 14%;
    padding: 128px 0 0 0;
    margin: auto;
  }
  .FooterTextCopy {
    display: flex;
    justify-content: center;
    margin: -8px 0 0 0;
    color: white;
    font-size: 14px;
  }
}
.FooterText {
  color: white;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid white;
  margin: 34px 285px;
  & h5 {
    font-weight: bolder;
  }
  & ul {
    padding-left: 0;
    & li {
      font-size: 16px;
      padding-left: 0;
      list-style-type: none;
      &:hover {
        color: #839672;
      }
    }
  }
}

@media (max-width: 700px) {
  .FooterWaves {
    background-image: url(https://res.cloudinary.com/difhe4gl3/image/upload/v1604244208/NUDO/assets/Imagen_footer_NUDO_mxdrtj.svg);
    width: 100%;
    height: 419px;
    background-repeat: no-repeat;
    background-size: cover;
    .FooterIconNudo {
        width: 35%;
        padding: 136px 0 0 0;
        margin: auto;
    }
    .FooterTextCopy {
      display: flex;
      justify-content: center;
      margin: 15px 38px 0 35px;
      color: white;
      font-size: 12px;
    }
  }
  .FooterText {
    color: white;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid white;
    margin: 23px -1px 0 36px;
    & h5 {
      font-weight: bolder;
    }
    & ul {
      padding-left: 0;
      & li {
        font-size: 12px;
        padding-left: 0;
        list-style-type: none;
        &:hover {
          color: #839672;
        }
      }
    }
  }
}
