.NudoMap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.NudoMapDialog {
  max-width: 300px;
  border-radius: 10px;
  border: 2px solid #4051b5;
}

.containerDialog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.MapDialogElements {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.SearchMap {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}

.ComboboxInput {
  border: 1px solid black;
  border-radius: 10px;
  font-size: 14px;
  padding: 7px 60px 7px 10px;
  -webkit-box-shadow: inset 0px 0px 7px 0px rgba(0, 0, 0, 0.84);
  box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.14);
  margin-bottom: 16px;
}

textarea:focus,
input:focus {
  outline: none;
}

.ContainerMap {
  border-radius: 10px;
  box-shadow: 0px 1px 16px -2px rgba(0, 0, 0, 0.12);
  padding: 30px 30px;
}

.RoundedMap {
  border-radius: 30px;
  overflow: hidden;
}
@media (max-width: 700px) {
}
