.ModalContentEvent {
  position: relative;
  padding: 50px 80px 80px;
  width: auto;
  height: fit-content;
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 3px 15px 15px rgba(0, 0, 0, 0.12);
  margin: auto 0;
  animation-name: animatetop;
  transition: all 5s ease;
  width: 70%;
  height: 100%;

  .eventImage {
    object-fit: cover;
    width: 170px;
    height: 170px;
    border-radius: 10px;
  }

  .subtitleEvent {
    display: flex;
    margin-bottom: 40px;

    .divSubtitleEvent {
      margin-right: 25px;
      color: rgb(85, 84, 84);
    }
  }

  .contactCardIcon {
    margin-right: 5px;
  }

  .imageAndSong {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .songAndContact {
      height: 170px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .avatarEvent {
        margin: 0px 16px 0;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        margin-top: 10px
      }
    }
  }

  .eventVideoContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 40px;

    .videoEvent {
      border-radius: 10px;
    }
  }
}

@keyframes animatetop {
  from {
    margin-left: -3000px;
  }

  to {
    margin: auto 0;
  }
}