
    .ContainerHistoryTimeline {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 800px;
        height: 1000px;
        padding: 30px;
    }

    .ContainerMemoryForm {
        width: 1000px;
        padding: 30px 20px;
    }