.AgendaDiv {
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    .Agenda {
        align-items: center;
        height: 50vh;
        overflow: scroll;
        border-radius: 10px;
    }
}

@media (min-width: 700px) {
    .AgendaDiv {
        width: 350px;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        .Agenda {
            align-items: center;
            height: 50vh;
            overflow: scroll;
            border-radius: 10px;
            margin-bottom: 21px;
        }
    }
}