.Contact {
  border-radius: 5px;
  padding-left: 0px;
  padding: 5px;
  margin: 3px;
  box-shadow: 0px 0px 4px 0px rgba(85, 85, 85, 0.2);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 300px;

  .nameHeader {
    margin: 3px 0 0 0;

    &>span {
      margin-left: 5px;
      color: grey;
    }
  }

  .contactSm {
    width: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .contactPhoto {
    margin: 0px 16px 0 12px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }

  .detailsButton {
    color: black;
    font-size: 22px;
    margin-top: 2px;
    margin-left: 3px;
    transition: all 0.1s;

    &:hover {
      font-size: 25px;
      color: #839672;
      transition: all 0.1s;
      cursor: pointer;
    }
  }
}