.ContactMenu {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    
    .dividedBody {
        margin-top: 20px;
        display: flex;
        width: 800px;
    }

    .contactSearchAndAdd {
        display: flex;
        justify-content: space-between;
    }
}