.CloseModalButton {
    position: absolute;
    top: 25px;
    right: 25px;
    color: rgb(165, 161, 161);
    margin: -20px -20px 0 0;
} 

@media (min-width: 700px) {
    .CloseModalButton {
        position: absolute;
        top: 25px;
        right: 25px;
        color: rgb(165, 161, 161);
        margin: -20px -20px 0 0;
    } 
}
