.ModalDarkOverlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 50%;
    left: 50%;
    z-index: 999999999999;
    transform: translate(-50%, -50%);
    background-color: rgba(255,255,255, 0.9);
    display: flex;
    justify-content: center;
    animation-name: fadeIn;
    animation-duration: 0.5s;
  }
  
  @keyframes fadeIn {
      from  {background-color: transparent;}
      to {background-color:rgba(255,255,255, 0.9);}
    }
  
  